<h1>Projects</h1>

<%= link_to 'New project', new_project_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Begin date</th>
    <th>End date</th>
    <th>Description</th>
    <th>Skills</th>
  </tr>
  
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.title %></td>
      <td><%= project.beginDate %></td>
      <td><%= project.endDate %></td>
      <td><%= project.description %></td>
      <td><%= project.skills.map(&:name).join(', ') %></td>
      <td><%= link_to 'Show', project_path(project) %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', controller: 'welcome' %>