<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
<p>
  <strong>Begin date:</strong>
  <%= @project.beginDate %>
</p>
<p>
  <strong>End date:</strong>
  <%= @project.endDate %>
</p>
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<p>
  <strong>Used skills:</strong>
  <%= @project.skills.map(&:name).join(", ") %>
</p>

<%= link_to 'Back', projects_path %>